body{
	padding-bottom: 200px;
}

.right-fucking-here, .fucking-saying{
	display: block;
	font-size: 4em;
	font-family: Arial;
	text-align: center;
	width: 80%;
	margin: 60px auto 0 auto;
}

.fucking-saying{
	font-size: 2em;
	width: 75%;
}

.fucking-content-container{
	margin: 60px auto;
	width: 80%;
	max-width: 900px;
	min-height: 450px;
	overflow: hidden;
}
.fucking-looking-at-container{
	background: url('../photos/loading.gif') no-repeat center center;
	background-size: 90%;
}

.fucking-map-container, .fucking-looking-at-container{
	min-height: 450px;
	width: 100%;
	float: left;
}

@media (min-width: 768px) {
	.fucking-map-container, .fucking-looking-at-container{
		width: 50%;
	}
}

/* iPads (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.fucking-map-container, .fucking-looking-at-container{
		width: 100%;
	}
}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {
	.fucking-map-container, .fucking-looking-at-container{
		width: 100%;
	}
}

.fucking-image{
	width: 100%;
	margin: auto;
}

.go-fucking-left{
	background: url('../photos/arrow-left.png') no-repeat center;
	left: 0;
}

.go-fucking-right{
	background: url('../photos/arrow-right.png') no-repeat center;
	right: 0;
}

.fucking-arrow, .fucking-arrow:active, .fucking-arrow:focus{
	padding: 0;
	margin: 0;
	outline: 0;
	border: 0;

	position: fixed;
	width: 10%;
	height: 100%;
	top: 0px;
	cursor: pointer;
	background-size: 100%;
	opacity: 0.7;
}

.fucking-arrow:hover{
	opacity: 1;
}

.fucking-arrow:disabled{
	opacity: 0.2;
}

.fucking-map-background{
	position: fixed !important;
	top: 0;
    height:100%;
    width:100%;
    z-index: -1;
    opacity: 0.4;
    pointer-events: none;
}